:root {
    --font-size: 1.6;
    --line-height: 2.2;
    --text-color: #333;
    --font-weight: 500;
    --font-family: Poppins;
}

@font-face {
    font-family: Poppins;
    src: url("~/font/Poppins-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: Poppins;
    src: url("~/font/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Poppins;
    src: url("~/font/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: Poppins;
    src: url("~/font/Poppins-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Poppins;
    src: url("~/font/Poppins-Bold.ttf");
    font-weight: 700;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

html {
    text-rendering: optimizeSpeed;
    font-size: 50%;
}

body {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    font-family: var(--font-family);
    line-height: var(--line-height);
    color: var(--text-color);
}

#app {
    width: 100%;
    height: 100%;
}